<launch>
    <arg name="eta" value="1.0"/>
    <arg name="Geta" value="15.0"/>
    <arg name="bag_filename" />

    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find rrt_exploration)/launch/carto.rviz" />

    <include file="$(find cartographer_ros)/launch/backpack_2d_mine.launch" />

    <include file="$(find map_after_process)/launch/E2.launch" />

    <include file="$(find filter)/launch/museum.launch" />

    <node pkg="rrt_exploration" type="assigner_with_submap.py" name="assigner" output="screen">
        <param name="map_topic" value="/map"/>
        <param name="global_frame" value="map"/>
        <param name="info_radius" value="1"/>
        <param name="info_multiplier" value="1.0"/> 
        <param name="hysteresis_radius" value="0.5"/>
        <param name="hysteresis_gain" value="2.0"/>
        <param name="frontiers_topic" value="/filtered_points"/> 
        <param name="n_robots" value="1"/>
        <param name="namespace_init_count" value="1"/>
        <param name="namespace" value=""/>
        <param name="delay_after_assignement" value="0.5"/>
        <param name="rate" value="1"/>
    </node>

    <node name="playbag" pkg="rosbag" type="play"
        args="--clock $(arg bag_filename)" />
    
    <!-- <node pkg="rrt_exploration" type="pose_path.py" name="pose_path_node" /> -->
    <node pkg="rrt_exploration" type="convenience_util.py" name="conv_util_node" />
  
</launch>
