<launch>
    <arg name="eta" value="1.0"/>
    <arg name="Geta" value="15.0"/>
    <arg name="bag_filename" />

    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find rrt_exploration)/launch/carto_log.rviz" />

    <include file="$(find cartographer_ros)/launch/E2_museum.launch" />

    <include file="$(find map_after_process)/launch/E2.launch" />

    <include file="$(find filter)/launch/museum.launch" />

    <node name="playbag" pkg="rosbag" type="play"
        args="--clock -r 1.0 $(arg bag_filename)" />
    
    <!-- <node pkg="rrt_exploration" type="pose_path.py" name="pose_path_node" /> -->
    <node pkg="rrt_exploration" type="convenience_util.py" name="conv_util_node" />
  
</launch>
