<launch>

    <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find rrt_exploration)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rrt_exploration)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rrt_exploration)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rrt_exploration)/config/global_costmap_params.yaml" command="load" />
        <!-- <rosparam file="$(find rrt_exploration)/config/move_base_params.yaml" command="load" /> -->
        <rosparam file="$(find rrt_exploration)/config/base_local_planner_params.yaml" command="load" />
    </node>
  
</launch>